{% extends 'base.html.twig' %}
{% block stylesheets %}
  <link rel="stylesheet" href={{asset('css/etablissement.css')}}>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href={{asset('css/bootstrap.min.css')}}>
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="{{asset('js/script.js')}}"></script>
  <script type="text/javascript" src="{{asset('js/etablissement.js')}}"></script>
{% endblock %}
{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Beaute</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">etablissement <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item ">
          <a class="nav-link" href="{{ path('acceuil') }}">Acceuil <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('deconnexion') }}">Déconnecxion</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
      <div class="row" style="margin-top: 15px;">
        <div class="col-sm-2"></div>
        <div id="carrousel" class="col-sm-8">
          <ul style="list-style: none;">
            {% if images is defined and images|length > 0 %}
              {% for i in images %}
                <li><img src="{{ asset('etablissement/images/'~ i.nomImage) }}" alt="Responsive image" height="300px;"></li>
              {% endfor %}
            {% else %}
              <li><img src="http://placehold.it/700x500" alt="Responsive image" height="300px;" width="500px;"></li>
            {% endif %}
          </ul>
          <button type="button" class="btn btn-link prev">Prev</button>
          <button type="button" class="btn btn-link next">Suivant</button>
        </div>
      </div>
  </div>
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  <div class="container" style="margin-top: 10px;">
    <div class="row">
      <div class="col-sm-4">
        <p class="lead">{{ infos.nomSociete }}</p>
        <p class="text-muted"> {{infos.ville}} </p>
        <p class="text-muted">{{infos.rue}}</p>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <ul class="list-inline">
          <li class="list-inline-item"><button id="btnRDV" type="button" class="btn btn-outline-primary">Prendre Rendez-vous</button></li>
        </ul>
      </div>
    </div>
  </div>
  {# #{~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~} #}
  <div class="container">
    <div class="row">
      <div class="col-sm-6" style=" margin-top: 10px;">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Créneaux</div>
          <div class="card-body">
            <h5>Veuillez choisir un créneau </h5>
            <button type="button" class="btn btn-link">Link</button></br>
            <button type="button" class="btn btn-link">Link</button></br>
            <button type="button" class="btn btn-link">Link</button></br>
            <button type="button" class="btn btn-link">Link</button></br>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Sérvice </th>
              <th scope="col">Prix </th>
            </tr>
          </thead>
          <tbody>
            <p class="lead">Sérvices proposés</p>
            {% if services is defined and services | length > 0 %}
              {% for x in services %}
                <tr class="table-warning">
                  <td>{{x.service }}</td>
                  <td>{{x.prix}}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr class="table-warning">
                <td>default </td>
                <td>default</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}